@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

.searchbar{
  width: 100%;
  /* border: 1px blue solid; */
  display: flex;
  /* padding: 0.5em; */
  /* justify-content: center; */
}

input{
  flex: 0 0 30%;
  margin: 0.5em;
  padding: 0.2em;
}

input:focus{
  outline: none;
}

.btn{
  margin: 0.5em;
  /* margin-left: 0.5em; */
}

.articles-layout{
  display: flex;
  margin-top: 1em;
}

.item{
  border: thin black solid;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  color: black;
  margin: 0 0.1em 0.1em 0;
}

.item:hover{
  background-color: black;
  color: white;
}

.item:active{
  background-color: black;
  color: white;
}

.articles{
  border: thin black solid;
  padding: 0.5em;
  /* width: 100%; */
}

h1{
  text-align: center;
  padding: 1em;
  font-size: 2.5em;
}

h2{
  font-size: 1.3em;
  padding-bottom: 0.5em;
  padding-top: 1em;
}

h3{
  font-size: 1.1em;
}

p{
  font-size: 0.8em;
}